# 2022 League Two EDA

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge, RidgeCV, Lasso, \
LassoCV, ElasticNet, ElasticNetCV
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVR
from sklearn.decomposition import PCA

In [10]:
team_stats = pd.read_csv('../footy_data/league_two_teams_2022.csv')
games = pd.read_csv('../footy_data/league_two_games_2022.csv')

In [11]:
games = games[0:84]
games
#Played matches

,timestamp,date_GMT,status,attendance,home_team_name,away_team_name,referee,Game Week,Pre-Match PPG (Home),Pre-Match PPG (Away),...,odds_ft_home_team_win,odds_ft_draw,odds_ft_away_team_win,odds_ft_over15,odds_ft_over25,odds_ft_over35,odds_ft_over45,odds_btts_yes,odds_btts_no,stadium_name
0,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Exeter City,Bradford City,Samuel Allison,1,0.00,0.00,...,2.55,3.10,2.85,1.43,2.15,3.65,7.00,1.95,1.83,St James Park (Exeter- Devon)
1,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Forest Green Rovers,Sutton United,James Bell,1,0.00,0.00,...,1.83,3.50,4.20,1.35,1.95,3.30,6.50,1.91,1.87,The Fully Charged New Lawn (Nailsworth- Glouce...
2,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Harrogate Town,Rochdale,Anthony Coggins,1,0.00,0.00,...,2.20,3.25,3.25,1.37,2.05,3.35,6.50,1.87,1.91,EnviroVent Stadium (Harrogate- North Yorkshire)
3,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Hartlepool United,Crawley Town,Scott Oldham,1,0.00,0.00,...,2.20,3.20,3.30,1.39,2.10,3.45,6.75,1.91,1.87,Victoria Park (Hartlepool- County Durham)
4,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Mansfield Town,Bristol Rovers,Joshua Smith,1,0.00,0.00,...,2.35,3.15,3.05,1.43,2.15,3.60,7.00,1.95,1.83,One Call Stadium (Mansfield- Nottinghamshire)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,1631368800,Sep 11 2021 - 2:00pm,complete,NaN,Swindon Town,Port Vale,Neil Hair,7,1.33,1.33,...,2.45,3.15,2.85,1.47,2.25,3.90,7.50,2.05,1.74,The County Ground (Swindon- Wiltshire)
80,1631368800,Sep 11 2021 - 2:00pm,complete,NaN,Walsall,Mansfield Town,David Rock,7,1.33,0.50,...,3.10,3.20,2.30,1.43,2.15,3.65,7.00,1.95,1.80,Banks's Stadium (Walsall- West Midlands)
81,1631645100,Sep 14 2021 - 6:45pm,incomplete,NaN,Newport County,Northampton Town,Craig Hicks,3,1.00,1.33,...,2.43,3.03,3.05,1.45,2.23,3.90,7.50,2.05,1.77,Rodney Parade (Newport (Casnewydd))
82,1631645100,Sep 14 2021 - 6:45pm,incomplete,NaN,Sutton United,Hartlepool United,Simon Hooper,3,1.50,0.00,...,2.36,3.15,3.05,1.38,2.13,3.65,7.00,1.95,1.83,Borough Sports Ground (Sutton- Surrey)
83,1631970000,Sep 18 2021 - 1:00pm,incomplete,NaN,Northampton Town,Swindon Town,NaN,8,2.00,2.33,...,1.90,3.50,3.80,1.33,2.03,3.35,6.50,1.95,1.83,Sixfields Stadium (Northampton- East Midlands)

In [12]:
xg_view = games[['home_team_name', 'away_team_name', 'team_a_xg', 'team_b_xg', 'home_team_goal_count', 'away_team_goal_count']]
xg_view[30:100]

,home_team_name,away_team_name,team_a_xg,team_b_xg,home_team_goal_count,away_team_goal_count
30,Swindon Town,Tranmere Rovers,1.71,1.37,0,0
31,Walsall,Scunthorpe United,1.63,1.38,1,1
32,Carlisle United,Leyton Orient,1.23,0.80,1,1
33,Exeter City,Bristol Rovers,2.30,2.19,4,1
34,Forest Green Rovers,Crawley Town,2.25,1.31,6,3
35,Harrogate Town,Barrow,1.66,1.58,2,1
36,Hartlepool United,Walsall,1.51,0.81,2,0
37,Mansfield Town,Bradford City,2.10,1.38,2,3
38,Northampton Town,Rochdale,1.51,1.60,1,3
39,Oldham Athletic,Colchester United,1.60,1.57,1,2
40,Salford City,Swindon Town,1.62,0.94,0,1
41,Scunthorpe United,Sutton United,0.99,1.87,1,1
42,Stevenage,Port Vale,1.83,1.45,1,1
43,Tranmere Rovers,Newport County,1.58,1.45,0,1
44,Leyton Orient,Harrogate Town,0.90,0.96,0,2
45,Rochdale,Colchester United,1.66,1.41,1,1
46,Barrow,Bristol Rovers,1.16,1.50,1,1
47,Crawley Town,Northampton Town,1.21,1.74,0,0
48,Forest Green Rovers,Port Vale,1.00,1.32,0,2
49,Harrogate Town,Exeter City,1.89,1.59,1,1
50,Hartlepool United,Carlisle United,1.35,0.87,2,1
51,Leyton Orient,Bradford City,1.81,0.91,2,0
52,Salford City,Newport County,1.70,1.73,3,0
53,Scunthorpe United,Tranmere Rovers,1.41,0.89,1,0
54,Sutton United,Oldham Athletic,1.36,1.43,1,2
55,Swindon Town,Mansfield Town,1.24,1.78,1,0
56,Walsall,Stevenage,0.99,1.10,1,0
57,Bradford City,Walsall,2.05,1.02,1,1
58,Bristol Rovers,Crawley Town,1.04,2.23,1,0
59,Carlisle United,Salford City,1.73,1.52,2,1
60,Colchester United,Sutton United,0.00,0.00,0,0
61,Exeter City,Forest Green Rovers,1.06,1.38,0,0
62,Mansfield Town,Harrogate Town,1.23,2.10,1,3
63,Newport County,Leyton Orient,1.37,1.86,2,2
64,Northampton Town,Scunthorpe United,2.18,0.60,2,0
65,Oldham Athletic,Barrow,1.44,1.26,0,3
66,Port Vale,Rochdale,1.57,1.41,2,3
67,Stevenage,Swindon Town,1.27,1.98,1,1
68,Tranmere Rovers,Hartlepool United,1.20,1.50,1,0
69,Barrow,Colchester United,2.24,1.15,2,3
70,Harrogate Town,Newport County,1.71,1.12,2,2
71,Crawley Town,Carlisle United,1.39,1.33,2,1
72,Forest Green Rovers,Northampton Town,1.48,1.09,1,0
73,Hartlepool United,Bristol Rovers,1.28,1.07,1,0
74,Leyton Orient,Oldham Athletic,1.65,1.14,4,0
75,Rochdale,Tranmere Rovers,1.81,0.76,1,0
76,Salford City,Bradford City,1.21,1.83,1,0
77,Scunthorpe United,Exeter City,1.28,1.98,0,4
78,Sutton United,Stevenage,1.69,1.40,2,1
79,Swindon Town,Port Vale,1.42,1.59,1,2
80,Walsall,Mansfield Town,1.37,1.68,3,1
81,Newport County,Northampton Town,0.00,0.00,0,0
82,Sutton United,Hartlepool United,0.00,0.00,0,0
83,Northampton Town,Swindon Town,0.00,0.00,0,0

# Goal Analysis

In [8]:
season_goal_total = games['total_goal_count'].sum()
season_1h_goal_total = games['total_goals_at_half_time'].sum()
percent_goals_1h = ((season_1h_goal_total)/(season_goal_total)) * 100

In [56]:
print(f'There were {season_goal_total} goals scored this season')

There were 152 goals scored this season

In [57]:
print(f'There were {season_1h_goal_total} goals scored in the 1H this season, ')

There were 77 goals scored in the 1H this season,

In [58]:
round(season_1h_goal_total/season_goal_total, 2)
#% of first half goals

0.51

In [59]:
games['total_goals_at_half_time'].count()

69

In [60]:
games['total_goals_at_half_time'].value_counts()

0    29
2    16
1    15
3     6
4     3
Name: total_goals_at_half_time, dtype: int64

# Adding more columns

In [61]:
games['home_xg'] = ""
games['away_xg'] = ""
games['home_xg_against'] = ""
games['away_xg_against'] = ""
games['home_total_corners'] = ""
games['away_total_corners'] = ""

# Creating new columns where our data will go

Let's write a function to help fill xg in our games df

In [62]:
xg_stats = team_stats[['common_name', 'xg_for_avg_overall']]
corner_stats = team_stats[['common_name', 'corners_per_match']]
xga_stats = team_stats[['common_name', 'xg_against_avg_overall']]

In [63]:
xg_stats = dict(xg_stats.values)
corner_stats = dict(corner_stats.values)
xga_stats = dict(xga_stats.values)

#By making this into dictionaries, it will be easier to call them/update them with the function

In [64]:
def fill_stats(team):
    games['home_xg'] = np.where(games['home_team_name'] == team, xg_stats[team], games['home_xg'])
    games['away_xg'] = np.where(games['away_team_name'] == team, xg_stats[team], games['away_xg'])
    games['home_xg_against'] = np.where(games['home_team_name'] == team, xga_stats[team], games['home_xg_against'])
    games['away_xg_against'] = np.where(games['away_team_name'] == team, xga_stats[team], games['away_xg_against'])
    games['home_total_corners'] = np.where(games['home_team_name'] == team, corner_stats[team], games['home_total_corners'])
    games['away_total_corners'] = np.where(games['away_team_name'] == team, corner_stats[team], games['away_total_corners'])
    
#Function to put team stats into games dataframe

In [65]:
fill_stats(team_stats['common_name'][0])
fill_stats(team_stats['common_name'][1])
fill_stats(team_stats['common_name'][2]) 
fill_stats(team_stats['common_name'][3]) 
fill_stats(team_stats['common_name'][4]) 
fill_stats(team_stats['common_name'][5]) 
fill_stats(team_stats['common_name'][6]) 
fill_stats(team_stats['common_name'][7]) 
fill_stats(team_stats['common_name'][8]) 
fill_stats(team_stats['common_name'][9]) 
fill_stats(team_stats['common_name'][10]) 
fill_stats(team_stats['common_name'][11]) 
fill_stats(team_stats['common_name'][12]) 
fill_stats(team_stats['common_name'][13]) 
fill_stats(team_stats['common_name'][14]) 
fill_stats(team_stats['common_name'][15]) 
fill_stats(team_stats['common_name'][16]) 
fill_stats(team_stats['common_name'][17]) 
fill_stats(team_stats['common_name'][18]) 
fill_stats(team_stats['common_name'][19]) 
fill_stats(team_stats['common_name'][20]) 
fill_stats(team_stats['common_name'][21]) 
fill_stats(team_stats['common_name'][22]) 
fill_stats(team_stats['common_name'][23]) 

#Reading in stats

In [66]:
games

,timestamp,date_GMT,status,attendance,home_team_name,away_team_name,referee,Game Week,Pre-Match PPG (Home),Pre-Match PPG (Away),...,odds_ft_over45,odds_btts_yes,odds_btts_no,stadium_name,home_xg,away_xg,home_xg_against,away_xg_against,home_total_corners,away_total_corners
0,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Exeter City,Bradford City,Samuel Allison,1,0.0,0.0,...,7.00,1.95,1.83,St James Park (Exeter- Devon),1.09,1.38,1.28,1.21,4.33,6.83
1,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Forest Green Rovers,Sutton United,James Bell,1,0.0,0.0,...,6.50,1.91,1.87,The Fully Charged New Lawn (Nailsworth- Glouce...,1.23,0.73,0.88,0.94,5.83,4.25
2,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Harrogate Town,Rochdale,Anthony Coggins,1,0.0,0.0,...,6.50,1.87,1.91,EnviroVent Stadium (Harrogate- North Yorkshire),1.49,1.22,0.99,1.22,7.2,3.83
3,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Hartlepool United,Crawley Town,Scott Oldham,1,0.0,0.0,...,6.75,1.91,1.87,Victoria Park (Hartlepool- County Durham),1.05,0.99,0.56,1.18,3.2,3.8
4,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Mansfield Town,Bristol Rovers,Joshua Smith,1,0.0,0.0,...,7.00,1.95,1.83,One Call Stadium (Mansfield- Nottinghamshire),1.49,0.86,1.01,1.27,5.67,4.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,1630764000,Sep 04 2021 - 2:00pm,complete,NaN,Northampton Town,Scunthorpe United,Tom Reeves,6,1.5,1.0,...,8.75,2.15,1.67,Sixfields Stadium (Northampton- East Midlands),1.07,0.66,0.84,1.3,5,5.17
65,1630764000,Sep 04 2021 - 2:00pm,complete,NaN,Oldham Athletic,Barrow,Carl Boyeson,6,0.0,0.0,...,6.50,1.87,1.91,Boundary Park (Oldham- Greater Manchester),0.86,0.86,1.08,1.04,5.33,4.5
66,1630764000,Sep 04 2021 - 2:00pm,complete,NaN,Port Vale,Rochdale,Marc Edwards,6,1.0,1.5,...,7.00,1.91,1.87,Vale Park (Stoke-on-Trent- Staffordshire),1.07,1.22,1.02,1.22,5.33,3.83
67,1630764000,Sep 04 2021 - 2:00pm,complete,NaN,Stevenage,Swindon Town,John Brooks,6,2.0,3.0,...,7.75,2.00,1.77,The Lamex Stadium (Stevenage- Hertfordshire),0.86,1.16,1.15,1.15,3.83,3.17
68,1630764000,Sep 04 2021 - 2:00pm,complete,NaN,Tranmere Rovers,Hartlepool United,Chris Sarginson,6,1.5,0.0,...,8.00,2.05,1.74,Prenton Park (Birkenhead- Merseyside),0.83,1.05,1.27,0.56,5.33,3.2

# Some more EDA

Let's write a function to help fill xg in our games df

In [ ]:
games['home_xg'] = ""
games['away_xg'] = ""
games['home_xg_against'] = ""
games['away_xg_against'] = ""
games['home_total_corners'] = ""
games['away_total_corners'] = ""

# Creating new columns where our data will go



xg_stats = team_stats[['common_name', 'xg_for_avg_overall']]
corner_stats = team_stats[['common_name', 'corners_per_match']]
xga_stats = team_stats[['common_name', 'xg_against_avg_overall']]

xga_stats.head()

xg_stats = dict(xg_stats.values)
corner_stats = dict(corner_stats.values)
xga_stats = dict(xga_stats.values)

#By making this into dictionaries, it will be easier to call them/update them with the function

def fill_stats(team):
    games['home_xg'] = np.where(games['home_team_name'] == team, xg_stats[team], games['home_xg'])
    games['away_xg'] = np.where(games['away_team_name'] == team, xg_stats[team], games['away_xg'])
    games['home_xg_against'] = np.where(games['home_team_name'] == team, xga_stats[team], games['home_xg_against'])
    games['away_xg_against'] = np.where(games['away_team_name'] == team, xga_stats[team], games['away_xg_against'])
    games['home_total_corners'] = np.where(games['home_team_name'] == team, corner_stats[team], games['home_total_corners'])
    games['away_total_corners'] = np.where(games['away_team_name'] == team, corner_stats[team], games['away_total_corners'])
    
#Function to put team stats into games dataframe

fill_stats('Fulham')
fill_stats('Blackburn Rovers')
fill_stats('West Bromwich Albion')
fill_stats('Queens Park Rangers')
fill_stats('AFC Bournemouth')
fill_stats('Middlesbrough')
fill_stats('Barnsley')
fill_stats('Millwall')
fill_stats('Sheffield United')
fill_stats('Reading')
fill_stats('Cardiff City')
fill_stats('Nottingham Forest')
fill_stats('Hull City')
fill_stats('Blackpool')
fill_stats('Luton Town')
fill_stats('Stoke City')
fill_stats('Swansea City')
fill_stats('Derby County')
fill_stats('Huddersfield Town')
fill_stats('Preston North End')
fill_stats('Coventry City')
fill_stats('Peterborough United')
fill_stats('Birmingham City')
fill_stats('Bristol City')

#Reading in stats

# Some more EDA

# Over/Under 2.5?

In [ ]:
games['over/under'] = np.where(games['home_team_goal_count'] + games['away_team_goal_count'] > 2.5, 1, 0)
# Adding column 0 represents under 2.5, 1 represents over 2.5

In [ ]:
games['over/under'].value_counts()

# xG Over/Under 2.5?

In [ ]:
games['xg_over/under'] = np.where(games['team_a_xg'] + games['team_b_xg'] > 2.99, 1, 0)
# Adding column 0 represents under 2.5, 1 represents over 2.5
games['xg_over/under_1.99'] = np.where(games['team_a_xg'] + games['team_b_xg'] > 1.99, 1, 0)
# Adding column 0 represents under 1.5, 1 represents over 1.5

In [ ]:
games['xg_over/under'].value_counts()

In [ ]:
games['xg_over/under_1.99'].value_counts()

# First Week

In [ ]:
games['over/under_1.5'] = np.where(games['home_team_goal_count'] + games['away_team_goal_count'] > 1.5, 1, 0)
# Adding column 0 represents under 1.5, 1 represents over 1.5

In [ ]:
first_matchweek = games[0:12]

In [ ]:
first_matchweek['over/under'].value_counts()

In [ ]:
first_matchweek['over/under_1.5'].value_counts()

In [ ]:
first_matchweek['xg_over/under'].value_counts()

In [ ]:
first_matchweek['xg_over/under_1.99'].value_counts()

In [ ]:
games['home_team_goal_count_half_time'].sum()

In [ ]:
games['away_team_goal_count_half_time'].sum()

# Let's take out the final week now and check percentage

In [ ]:
first_41 = games[0:540]
first_41['over/under'].value_counts()

In [ ]:
217/540
# Percentage of games that went over

# When were these goals scored?

Second half stoppage time goals will start at 91 i.e. 90+1 will be 91
First half stoppage time goals will start at 100 i.e. 45+1 = 110 ----

Change stoppage time goals so we can cast them as floats

In [ ]:
goal_timings = goal_timings.replace(to_replace="90'1", value = "91")
goal_timings = goal_timings.replace(to_replace="90'2", value = "92")
goal_timings = goal_timings.replace(to_replace="90'3", value = "93")
goal_timings = goal_timings.replace(to_replace="90'4", value = "94")
goal_timings = goal_timings.replace(to_replace="90'5", value = "95")
goal_timings = goal_timings.replace(to_replace="90'6", value = "96")
goal_timings = goal_timings.replace(to_replace="90'7", value = "97")
goal_timings = goal_timings.replace(to_replace="90'8", value = "98")
goal_timings = goal_timings.replace(to_replace="90'9", value = "99")
goal_timings = goal_timings.replace(to_replace="90'10", value = "100")
goal_timings = goal_timings.replace(to_replace="90'11", value = "101")
goal_timings = goal_timings.replace(to_replace="90'12", value = "102")
goal_timings = goal_timings.replace(to_replace="45'1", value = "110")
goal_timings = goal_timings.replace(to_replace="45'2", value = "111")
goal_timings = goal_timings.replace(to_replace="45'3", value = "112")
goal_timings = goal_timings.replace(to_replace="45'4", value = "113")

In [ ]:
goal_timings['All_goal_timings'] = goal_timings['All_goal_timings'].astype('int')

In [ ]:
timing_totals = goal_timings['All_goal_timings'].value_counts()
timing_totals = pd.DataFrame(timing_totals)

In [ ]:
timing_totals = timing_totals.rename_axis("minute", axis="columns")
timing_totals = timing_totals.rename(columns={"All_goal_timings":"count"})

In [ ]:
timing_totals['section'] = ""
timing_totals.head()

# In how many games did a team have more xG but lose?