# 2022 League Two EDA

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
team_stats = pd.read_csv('../../footy_data/england-efl-league-two-teams-2021-to-2022-stats.csv')
games = pd.read_csv('../../footy_data/england-efl-league-two-matches-2021-to-2022-stats.csv')

In [3]:
games = games.loc[games['status'] == 'complete']
games
#Played matches

,timestamp,date_GMT,status,attendance,home_team_name,away_team_name,referee,Game Week,Pre-Match PPG (Home),Pre-Match PPG (Away),...,odds_ft_home_team_win,odds_ft_draw,odds_ft_away_team_win,odds_ft_over15,odds_ft_over25,odds_ft_over35,odds_ft_over45,odds_btts_yes,odds_btts_no,stadium_name
0,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Exeter City,Bradford City,Samuel Allison,1,0.00,0.00,...,2.55,3.10,2.85,1.43,2.15,3.65,7.00,1.95,1.83,St James Park (Exeter- Devon)
1,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Forest Green Rovers,Sutton United,James Bell,1,0.00,0.00,...,1.83,3.50,4.20,1.35,1.95,3.30,6.50,1.91,1.87,The Fully Charged New Lawn (Nailsworth- Glouce...
2,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Harrogate Town,Rochdale,Anthony Coggins,1,0.00,0.00,...,2.20,3.25,3.25,1.37,2.05,3.35,6.50,1.87,1.91,EnviroVent Stadium (Harrogate- North Yorkshire)
3,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Hartlepool United,Crawley Town,Scott Oldham,1,0.00,0.00,...,2.20,3.20,3.30,1.39,2.10,3.45,6.75,1.91,1.87,Victoria Park (Hartlepool- County Durham)
4,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Mansfield Town,Bristol Rovers,Joshua Smith,1,0.00,0.00,...,2.35,3.15,3.05,1.43,2.15,3.60,7.00,1.95,1.83,One Call Stadium (Mansfield- Nottinghamshire)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,1634997600,Oct 23 2021 - 2:00pm,complete,NaN,Stevenage,Leyton Orient,James Bell,14,1.50,1.17,...,2.55,3.15,2.75,1.36,2.00,3.78,7.20,1.80,1.91,The Lamex Stadium (Stevenage- Hertfordshire)
164,1634997600,Oct 23 2021 - 2:00pm,complete,NaN,Swindon Town,Bradford City,Ross Joyce,14,1.00,0.83,...,2.60,3.20,2.70,1.38,2.00,3.75,7.50,1.83,1.83,The County Ground (Swindon- Wiltshire)
165,1634997600,Oct 23 2021 - 2:00pm,complete,NaN,Tranmere Rovers,Northampton Town,Tom Nield,14,2.50,1.33,...,2.41,3.05,3.05,1.42,2.25,4.33,8.50,1.91,1.80,Prenton Park (Birkenhead- Merseyside)
166,1634997600,Oct 23 2021 - 2:00pm,complete,NaN,Walsall,Barrow,Andy Haines,14,1.67,1.17,...,2.75,3.25,2.50,1.38,2.00,4.00,8.00,1.83,1.83,Banks's Stadium (Walsall- West Midlands)
167,1635273900,Oct 26 2021 - 6:45pm,complete,NaN,Colchester United,Sutton United,Robert Madley,6,0.83,1.14,...,2.60,3.10,2.87,1.42,2.30,4.40,9.00,2.15,1.67,JobServe Community Stadium (Colchester- Essex)

In [4]:
games['over/under'] = np.where(games['home_team_goal_count'] + games['away_team_goal_count'] > 2.5, 1, 0)

In [5]:
xg_view = games[['home_team_name', 'away_team_name', 'team_a_xg', 'team_b_xg', 'home_team_goal_count', 'away_team_goal_count']]
xg_view[120:180]

,home_team_name,away_team_name,team_a_xg,team_b_xg,home_team_goal_count,away_team_goal_count
120,Forest Green Rovers,Swindon Town,1.48,1.51,0,2
121,Barrow,Leyton Orient,1.34,1.62,1,1
122,Bristol Rovers,Carlisle United,1.14,1.39,3,0
123,Harrogate Town,Scunthorpe United,2.15,1.22,6,1
124,Hartlepool United,Northampton Town,1.49,1.75,2,1
125,Mansfield Town,Oldham Athletic,1.09,1.14,0,0
126,Newport County,Bradford City,1.38,1.18,0,0
127,Rochdale,Crawley Town,1.55,1.35,0,1
128,Stevenage,Exeter City,1.31,1.97,2,2
129,Sutton United,Port Vale,1.92,1.62,4,3
130,Walsall,Salford City,1.92,1.09,2,1
131,Bradford City,Bristol Rovers,1.95,1.19,2,2
132,Carlisle United,Tranmere Rovers,1.82,1.49,0,1
133,Colchester United,Harrogate Town,1.13,1.67,1,0
134,Crawley Town,Sutton United,1.19,1.82,0,1
135,Exeter City,Newport County,1.73,1.60,2,2
136,Leyton Orient,Walsall,0.74,0.93,0,0
137,Northampton Town,Mansfield Town,1.14,0.97,2,0
138,Oldham Athletic,Stevenage,1.11,1.77,3,0
139,Port Vale,Barrow,1.43,1.10,3,1
140,Salford City,Hartlepool United,1.66,0.79,2,0
141,Scunthorpe United,Forest Green Rovers,1.02,1.45,0,2
142,Swindon Town,Rochdale,2.14,1.18,2,2
143,Barrow,Scunthorpe United,2.29,1.21,1,1
144,Bradford City,Hartlepool United,1.61,1.29,1,3
145,Colchester United,Bristol Rovers,1.75,1.32,1,1
146,Crawley Town,Exeter City,1.13,1.60,1,3
147,Harrogate Town,Tranmere Rovers,1.47,1.63,2,2
148,Leyton Orient,Forest Green Rovers,1.35,0.97,1,1
149,Mansfield Town,Port Vale,2.34,0.80,1,1
150,Newport County,Carlisle United,1.61,2.29,2,2
151,Northampton Town,Stevenage,1.11,0.81,3,0
152,Oldham Athletic,Walsall,1.30,1.74,1,3
153,Salford City,Rochdale,2.15,1.42,0,0
154,Sutton United,Swindon Town,1.06,1.82,1,2
155,Bristol Rovers,Newport County,1.51,1.71,1,3
156,Carlisle United,Oldham Athletic,1.10,1.63,0,0
157,Exeter City,Mansfield Town,1.95,0.90,2,1
158,Forest Green Rovers,Salford City,2.11,1.51,3,1
159,Hartlepool United,Harrogate Town,1.52,1.33,3,2
160,Port Vale,Colchester United,2.22,1.50,3,0
161,Rochdale,Sutton United,2.70,1.32,3,2
162,Scunthorpe United,Crawley Town,1.67,1.46,2,1
163,Stevenage,Leyton Orient,1.48,1.81,0,0
164,Swindon Town,Bradford City,1.43,1.39,1,3
165,Tranmere Rovers,Northampton Town,1.00,1.97,0,2
166,Walsall,Barrow,1.87,1.40,2,2
167,Colchester United,Sutton United,0.00,0.00,1,3

# Goal Analysis

In [6]:
season_goal_total = games['total_goal_count'].sum()
season_1h_goal_total = games['total_goals_at_half_time'].sum()
percent_goals_1h = ((season_1h_goal_total)/(season_goal_total)) * 100

In [7]:
print(f'There were {season_goal_total} goals scored this season')

There were 411 goals scored this season

In [15]:
print(f'There were {season_1h_goal_total} goals scored in the 1H this season, ')

There were 171 goals scored in the 1H this season,

In [16]:
round(season_1h_goal_total/season_goal_total, 2)
#% of first half goals

0.46

In [17]:
games['total_goals_at_half_time'].count()

155

In [18]:
games['total_goals_at_half_time'].value_counts()

0    57
1    49
2    31
3    13
4     4
5     1
Name: total_goals_at_half_time, dtype: int64

# Adding more columns

In [19]:
games['home_xg'] = ""
games['away_xg'] = ""
games['home_xg_against'] = ""
games['away_xg_against'] = ""
games['home_total_corners'] = ""
games['away_total_corners'] = ""

# Creating new columns where our data will go

Let's write a function to help fill xg in our games df

In [20]:
xg_stats = team_stats[['common_name', 'xg_for_avg_overall']]
corner_stats = team_stats[['common_name', 'corners_per_match']]
xga_stats = team_stats[['common_name', 'xg_against_avg_overall']]

In [21]:
xg_stats = dict(xg_stats.values)
corner_stats = dict(corner_stats.values)
xga_stats = dict(xga_stats.values)

#By making this into dictionaries, it will be easier to call them/update them with the function

In [22]:
def fill_stats(team):
    games['home_xg'] = np.where(games['home_team_name'] == team, xg_stats[team], games['home_xg'])
    games['away_xg'] = np.where(games['away_team_name'] == team, xg_stats[team], games['away_xg'])
    games['home_xg_against'] = np.where(games['home_team_name'] == team, xga_stats[team], games['home_xg_against'])
    games['away_xg_against'] = np.where(games['away_team_name'] == team, xga_stats[team], games['away_xg_against'])
    games['home_total_corners'] = np.where(games['home_team_name'] == team, corner_stats[team], games['home_total_corners'])
    games['away_total_corners'] = np.where(games['away_team_name'] == team, corner_stats[team], games['away_total_corners'])
    
#Function to put team stats into games dataframe

In [23]:
fill_stats(team_stats['common_name'][0])
fill_stats(team_stats['common_name'][1])
fill_stats(team_stats['common_name'][2]) 
fill_stats(team_stats['common_name'][3]) 
fill_stats(team_stats['common_name'][4]) 
fill_stats(team_stats['common_name'][5]) 
fill_stats(team_stats['common_name'][6]) 
fill_stats(team_stats['common_name'][7]) 
fill_stats(team_stats['common_name'][8]) 
fill_stats(team_stats['common_name'][9]) 
fill_stats(team_stats['common_name'][10]) 
fill_stats(team_stats['common_name'][11]) 
fill_stats(team_stats['common_name'][12]) 
fill_stats(team_stats['common_name'][13]) 
fill_stats(team_stats['common_name'][14]) 
fill_stats(team_stats['common_name'][15]) 
fill_stats(team_stats['common_name'][16]) 
fill_stats(team_stats['common_name'][17]) 
fill_stats(team_stats['common_name'][18]) 
fill_stats(team_stats['common_name'][19]) 
fill_stats(team_stats['common_name'][20]) 
fill_stats(team_stats['common_name'][21]) 
fill_stats(team_stats['common_name'][22]) 
fill_stats(team_stats['common_name'][23]) 

#Reading in stats

In [24]:
games

,timestamp,date_GMT,status,attendance,home_team_name,away_team_name,referee,Game Week,Pre-Match PPG (Home),Pre-Match PPG (Away),...,odds_btts_yes,odds_btts_no,stadium_name,over/under,home_xg,away_xg,home_xg_against,away_xg_against,home_total_corners,away_total_corners
0,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Exeter City,Bradford City,Samuel Allison,1,0.00,0.00,...,1.95,1.83,St James Park (Exeter- Devon),0,1.39,1.67,1.33,1.3,4,5.69
1,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Forest Green Rovers,Sutton United,James Bell,1,0.00,0.00,...,1.91,1.87,The Fully Charged New Lawn (Nailsworth- Glouce...,1,1.49,1.65,1.17,1.3,6.15,5.67
2,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Harrogate Town,Rochdale,Anthony Coggins,1,0.00,0.00,...,1.87,1.91,EnviroVent Stadium (Harrogate- North Yorkshire),1,1.49,1.34,1.18,1.4,6.62,5.69
3,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Hartlepool United,Crawley Town,Scott Oldham,1,0.00,0.00,...,1.91,1.87,Victoria Park (Hartlepool- County Durham),0,1.04,1.04,1.16,1.41,3.85,4
4,1628344800,Aug 07 2021 - 2:00pm,complete,NaN,Mansfield Town,Bristol Rovers,Joshua Smith,1,0.00,0.00,...,1.95,1.83,One Call Stadium (Mansfield- Nottinghamshire),1,1.4,0.86,1.19,1.42,4.62,4.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,1634669100,Oct 19 2021 - 6:45pm,complete,NaN,Newport County,Carlisle United,David Rock,13,1.60,0.67,...,1.80,1.91,Rodney Parade (Newport (Casnewydd)),1,1.3,1.48,1.34,1.2,4.23,4.77
151,1634669100,Oct 19 2021 - 6:45pm,complete,NaN,Northampton Town,Stevenage,Samuel Barrott,13,1.67,0.67,...,1.83,1.83,Sixfields Stadium (Northampton- East Midlands),1,1.09,1.22,1.16,1.35,5,4.38
152,1634669100,Oct 19 2021 - 6:45pm,complete,NaN,Oldham Athletic,Walsall,Ross Joyce,13,0.67,0.50,...,1.80,1.91,Boundary Park (Oldham- Greater Manchester),1,0.89,1.04,1.27,1.28,5.23,4.54
153,1634669100,Oct 19 2021 - 6:45pm,complete,NaN,Salford City,Rochdale,Seb Stockbridge,13,1.71,1.33,...,1.83,1.83,The Peninsula Stadium (Salford- Greater Manche...,0,1.47,1.34,1.28,1.4,4.92,5.69
154,1634669100,Oct 19 2021 - 6:45pm,complete,NaN,Sutton United,Swindon Town,Chris Sarginson,13,2.40,2.33,...,1.73,2.00,VBS Community Stadium (Sutton- Surrey),1,1.65,1.53,1.3,1.25,5.67,4.46

# Some more EDA

Let's write a function to help fill xg in our games df

In [8]:
games['home_xg'] = ""
games['away_xg'] = ""
games['home_xg_against'] = ""
games['away_xg_against'] = ""
games['home_total_corners'] = ""
games['away_total_corners'] = ""

# Creating new columns where our data will go



xg_stats = team_stats[['common_name', 'xg_for_avg_overall']]
corner_stats = team_stats[['common_name', 'corners_per_match']]
xga_stats = team_stats[['common_name', 'xg_against_avg_overall']]

xga_stats.head()

xg_stats = dict(xg_stats.values)
corner_stats = dict(corner_stats.values)
xga_stats = dict(xga_stats.values)

#By making this into dictionaries, it will be easier to call them/update them with the function

def fill_stats(team):
    games['home_xg'] = np.where(games['home_team_name'] == team, xg_stats[team], games['home_xg'])
    games['away_xg'] = np.where(games['away_team_name'] == team, xg_stats[team], games['away_xg'])
    games['home_xg_against'] = np.where(games['home_team_name'] == team, xga_stats[team], games['home_xg_against'])
    games['away_xg_against'] = np.where(games['away_team_name'] == team, xga_stats[team], games['away_xg_against'])
    games['home_total_corners'] = np.where(games['home_team_name'] == team, corner_stats[team], games['home_total_corners'])
    games['away_total_corners'] = np.where(games['away_team_name'] == team, corner_stats[team], games['away_total_corners'])
    
#Function to put team stats into games dataframe

fill_stats('Fulham')
fill_stats('Blackburn Rovers')
fill_stats('West Bromwich Albion')
fill_stats('Queens Park Rangers')
fill_stats('AFC Bournemouth')
fill_stats('Middlesbrough')
fill_stats('Barnsley')
fill_stats('Millwall')
fill_stats('Sheffield United')
fill_stats('Reading')
fill_stats('Cardiff City')
fill_stats('Nottingham Forest')
fill_stats('Hull City')
fill_stats('Blackpool')
fill_stats('Luton Town')
fill_stats('Stoke City')
fill_stats('Swansea City')
fill_stats('Derby County')
fill_stats('Huddersfield Town')
fill_stats('Preston North End')
fill_stats('Coventry City')
fill_stats('Peterborough United')
fill_stats('Birmingham City')
fill_stats('Bristol City')

#Reading in stats

# Some more EDA

KeyError: 'Fulham'

# Over/Under 2.5?

In [9]:
games['over/under'] = np.where(games['home_team_goal_count'] + games['away_team_goal_count'] > 2.5, 1, 0)
# Adding column 0 represents under 2.5, 1 represents over 2.5

In [10]:
games['over/under'].value_counts()

0    89
1    79
Name: over/under, dtype: int64

# xG Over/Under 2.5?

In [11]:
games['xg_over/under'] = np.where(games['team_a_xg'] + games['team_b_xg'] > 2.99, 1, 0)
# Adding column 0 represents under 2.5, 1 represents over 2.5
games['xg_over/under_1.99'] = np.where(games['team_a_xg'] + games['team_b_xg'] > 1.99, 1, 0)
# Adding column 0 represents under 1.5, 1 represents over 1.5

In [12]:
games['xg_over/under'].value_counts()

0    90
1    78
Name: xg_over/under, dtype: int64

In [13]:
games['xg_over/under_1.99'].value_counts()

1    162
0      6
Name: xg_over/under_1.99, dtype: int64

# First Week

In [14]:
games['over/under_1.5'] = np.where(games['home_team_goal_count'] + games['away_team_goal_count'] > 1.5, 1, 0)
# Adding column 0 represents under 1.5, 1 represents over 1.5

In [15]:
first_matchweek = games[0:12]

In [16]:
first_matchweek['over/under'].value_counts()

0    8
1    4
Name: over/under, dtype: int64

In [17]:
first_matchweek['over/under_1.5'].value_counts()

0    7
1    5
Name: over/under_1.5, dtype: int64

In [18]:
first_matchweek['xg_over/under'].value_counts()

1    6
0    6
Name: xg_over/under, dtype: int64

In [19]:
first_matchweek['xg_over/under_1.99'].value_counts()

1    11
0     1
Name: xg_over/under_1.99, dtype: int64

In [20]:
games['home_team_goal_count_half_time'].sum()

100

In [21]:
games['away_team_goal_count_half_time'].sum()

89

# Let's take out the final week now and check percentage

In [ ]:
first_41 = games[0:540]
first_41['over/under'].value_counts()

In [ ]:
217/540
# Percentage of games that went over

# When were these goals scored?

Second half stoppage time goals will start at 91 i.e. 90+1 will be 91
First half stoppage time goals will start at 100 i.e. 45+1 = 110 ----

Change stoppage time goals so we can cast them as floats

In [ ]:
goal_timings = goal_timings.replace(to_replace="90'1", value = "91")
goal_timings = goal_timings.replace(to_replace="90'2", value = "92")
goal_timings = goal_timings.replace(to_replace="90'3", value = "93")
goal_timings = goal_timings.replace(to_replace="90'4", value = "94")
goal_timings = goal_timings.replace(to_replace="90'5", value = "95")
goal_timings = goal_timings.replace(to_replace="90'6", value = "96")
goal_timings = goal_timings.replace(to_replace="90'7", value = "97")
goal_timings = goal_timings.replace(to_replace="90'8", value = "98")
goal_timings = goal_timings.replace(to_replace="90'9", value = "99")
goal_timings = goal_timings.replace(to_replace="90'10", value = "100")
goal_timings = goal_timings.replace(to_replace="90'11", value = "101")
goal_timings = goal_timings.replace(to_replace="90'12", value = "102")
goal_timings = goal_timings.replace(to_replace="45'1", value = "110")
goal_timings = goal_timings.replace(to_replace="45'2", value = "111")
goal_timings = goal_timings.replace(to_replace="45'3", value = "112")
goal_timings = goal_timings.replace(to_replace="45'4", value = "113")

In [ ]:
goal_timings['All_goal_timings'] = goal_timings['All_goal_timings'].astype('int')

In [ ]:
timing_totals = goal_timings['All_goal_timings'].value_counts()
timing_totals = pd.DataFrame(timing_totals)

In [ ]:
timing_totals = timing_totals.rename_axis("minute", axis="columns")
timing_totals = timing_totals.rename(columns={"All_goal_timings":"count"})

In [ ]:
timing_totals['section'] = ""
timing_totals.head()

# In how many games did a team have more xG but lose?